<AuthorizeView>
    <Authorized>
        <BarItem>
            <BarLink To="Identity/Account/Manage">
                <BarIcon IconName="IconName.User" />
                Hello, @context.User.Identity.Name!
            </BarLink>
        </BarItem>
        <BarItem>
            <Form method="post" action="Identity/Account/LogOut" Margin="Margin.IsAuto">
                <Button Type="ButtonType.Submit" Color="Color.Danger" Outline="false">Log out</Button>
            </Form>
        </BarItem>
        @*<a href="Identity/Account/Manage">Hello, @context.User.Identity.Name!</a>
        <form method="post" action="Identity/Account/LogOut">
            <button type="submit" class="nav-link btn btn-link">Log out</button>
        </form>*@
    </Authorized>
    <NotAuthorized>
        <BarItem>
            <BarLink To="Identity/Account/Register">
                <BarIcon IconName="IconName.Edit" />
                Register
            </BarLink>
        </BarItem>
        <BarItem>
            <BarLink To="Identity/Account/Login">
                <BarIcon IconName="IconName.ArrowRight"/>
                Log in
            </BarLink>
        </BarItem>
        @*<a href="Identity/Account/Register">Register</a>
        <a href="Identity/Account/Login">Log in</a>*@
    </NotAuthorized>
</AuthorizeView>
