@inherits LayoutComponentBase
@*
<div class="sidebar">
    <NavMenu />
</div>

<div class="main">
    <div class="top-row px-4 auth">
        <LoginDisplay />
        <a href="https://docs.microsoft.com/aspnet/" target="_blank">About</a>
    </div>

    <div class="content px-4">
        @Body
    </div>
</div>*@
<Layout Sider="true">
    <LayoutSider>
        <LayoutSiderContent>
            <NavMenu/>
        </LayoutSiderContent>
    </LayoutSider>
    <LayoutHeader>

    </LayoutHeader>
    <LayoutContent Margin="Margin.Is2">
        @Body
    </LayoutContent>
    <LayoutFooter>

    </LayoutFooter>
</Layout>