@page "/administration"
@inject UserService UserService

<Heading Size="HeadingSize.Is1">Administration</Heading>
<Divider />

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <UserList />
        </Column>
    </Row>
    <Row Margin="Margin.Is2.FromTop">
        <Column ColumnSize="ColumnSize.Is2">
            <Button Color="Color.Primary" @onclick="@(() => UserFormModal.Show())">Create user</Button>
        </Column>
    </Row>
</Container>

<Modal @ref="UserFormModal" Closed="OnModalClosed">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Create user</ModalTitle>
            <CloseButton Clicked="@(() => UserFormModal.Hide())"></CloseButton>
        </ModalHeader>
        <ModalBody>
            <UserForm OnFormSubmitted="CreateUser" />
        </ModalBody>
        <ModalFooter>
            <Alert @ref="UserCreationAlertSuccess" Color="Color.Success">
                <AlertMessage>User created successfully!</AlertMessage>
            </Alert>
            <Alert @ref="UserCreationAlertFailure" Color="Color.Danger">
                <AlertMessage>Error creating user.</AlertMessage>
            </Alert>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    Modal UserFormModal;
    Alert UserCreationAlertSuccess;
    Alert UserCreationAlertFailure;

    private async void CreateUser(UserRegistration user)
    {
        var isCreated = await UserService.Create(user);

        if (isCreated)
        {
            UserCreationAlertSuccess.Show();
        }
        else
        {
            UserCreationAlertFailure.Show();
        }
    }

    private void OnModalClosed()
    {
        UserCreationAlertSuccess.Hide();
        UserCreationAlertFailure.Hide();
    }
}
