@page "/administration"
@attribute [Authorize(Roles = "Admin")]
@inject UserService UserService
@inject ProjectService ProjectService

<Heading Size="HeadingSize.Is1">Administration</Heading>
<Divider />

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <UserList />
        </Column>
    </Row>
    <Row Margin="Margin.Is2.FromTop">
        <Column ColumnSize="ColumnSize.Is2">
            <Button Color="Color.Primary" @onclick="@(() => UserFormModal.Show())">Create user</Button>
        </Column>
    </Row>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <ProjectList />
        </Column>
    </Row>
    <Row Margin="Margin.Is2.FromTop">
        <Column ColumnSize="ColumnSize.Is2">
            <Button Color="Color.Primary" @onclick="@(() => ProjectFormModal.Show())">Create project</Button>
        </Column>
    </Row>
</Container>

<Modal @ref="UserFormModal" Closed="OnUserModalClosed">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Create user</ModalTitle>
            <CloseButton Clicked="@(() => UserFormModal.Hide())"></CloseButton>
        </ModalHeader>
        <ModalBody>
            <UserForm OnFormSubmitted="CreateUser" />
        </ModalBody>
        <ModalFooter>
            <Alert @ref="UserCreationAlertSuccess" Color="Color.Success">
                <AlertMessage>User created successfully!</AlertMessage>
            </Alert>
            <Alert @ref="UserCreationAlertFailure" Color="Color.Danger">
                <AlertMessage>Error creating user.</AlertMessage>
            </Alert>
        </ModalFooter>
    </ModalContent>
</Modal>

<Modal @ref="ProjectFormModal" Closed="OnProjectModalClosed">
    <ModalBackdrop />
    <ModalContent Centered="true">
        <ModalHeader>
            <ModalTitle>Create project</ModalTitle>
            <CloseButton Clicked="@(() => ProjectFormModal.Hide())"></CloseButton>
        </ModalHeader>
        <ModalBody>
            <ProjectForm OnFormSubmitted="CreateProject" />
        </ModalBody>
        <ModalFooter>
            <Alert @ref="ProjectCreationAlertSuccess" Color="Color.Success">
                <AlertMessage>Project created successfully!</AlertMessage>
            </Alert>
            <Alert @ref="ProjectCreationAlertFailure" Color="Color.Danger">
                <AlertMessage>Error creating project.</AlertMessage>
            </Alert>
        </ModalFooter>
    </ModalContent>
</Modal>

@code {
    Modal UserFormModal;
    Alert UserCreationAlertSuccess;
    Alert UserCreationAlertFailure;

    Modal ProjectFormModal;
    Alert ProjectCreationAlertSuccess;
    Alert ProjectCreationAlertFailure;

    private async void CreateUser(UserRegistration user)
    {
        var isCreated = await UserService.Create(user);

        if (isCreated)
        {
            UserCreationAlertSuccess.Show();
        }
        else
        {
            UserCreationAlertFailure.Show();
        }
    }

    private void OnUserModalClosed()
    {
        UserCreationAlertSuccess.Hide();
        UserCreationAlertFailure.Hide();
    }

    private void CreateProject(ProjectRegistration project)
    {
        var isCreated = ProjectService.Create(project);

        if (isCreated)
        {
            ProjectCreationAlertSuccess.Show();
        }
        else
        {
            ProjectCreationAlertFailure.Show();
        }
    }

    private void OnProjectModalClosed()
    {
        ProjectCreationAlertSuccess.Hide();
        ProjectCreationAlertFailure.Hide();
    }
}
