@page "/administration"
@inject UserService UserService

<Heading Size="HeadingSize.Is1">Administration</Heading>
<Divider />

<Container>
    <Row>
        <Column ColumnSize="ColumnSize.Is12">
            <UserList />
        </Column>
    </Row>
    <Row Margin="Margin.Is2.FromTop">
        <Column ColumnSize="ColumnSize.Is2">
            <Button Color="Color.Primary" @onclick="@(() => UserFormModal.Show())">Create user</Button>
        </Column>
    </Row>
</Container>

<Modal @ref="UserFormModal">
    <ModalBackdrop />
    <ModalHeader>
        <ModalTitle>Create user</ModalTitle>
        <CloseButton Clicked="@(() => UserFormModal.Hide())"></CloseButton>
    </ModalHeader>
    <ModalBody>
        <UserForm OnFormSubmitted="CreateUser"/>
    </ModalBody>
</Modal>


@code {
    Modal UserFormModal;

    private void CreateUser(UserRegistration user)
    {
        UserService.Create(user);
    }
}
