@page "/administration"

<h3>Administration</h3>

<UserList/>

<button class="btn btn-primary" @onclick="OpenUserForm">Create user</button>


@code {
    bool IsUserFormOpened = false;

    protected void OpenUserForm()
    {
        IsUserFormOpened = true;
    }
}
